<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim Berners-Lee</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>
    <h1 class="titulo">Berners-Lee</h1>
    <div class="image-container">
    <img src="/img/berners.jpeg" alt="Creador de WWW">
    </div>
    <h1 class="descripcion">El WorldWideWeb fue presentado en 1991 por Tim Berners Lee, como un sistema para conectar páginas web, a través
        de una gran red mundial. La idea subyacente era expandir el potencial de la web, como medio de libre expresión y
        colaboración.
        El 26 de febrero de 1991, con la creación de la WWW,
        el científico británico concretaba su sueño de crear una manera mejor y más fácil de comunicarse a escala
        mundial.
        Hoy se cumplen 17 años y un largo camino recorrido, desde ese acontecimiento histórico, que marca el nacimiento
        de la red global.</h1>


</body>

</html>