<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edith Clarke</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>
    <h1 class="titulo">Joan Clarke</h1>
    <div class="image-container">
    <img src="/img/joan-clarke.jpg" alt="hackeo a los nazis">
    </div>
    <h1 class="descripcion">¡Una de las primeras mujeres programadoras cruciales dentro de un hito histórico! Joan Clarke (1917-1996) fue
        una criptoanalista inglesa famosa por su rol como descifradora de códigos durante la Segunda Guerra Mundial.    
        Juntó con el equipo del matemático Alan Turing y desde su guarida secreta, el Hut8, Joan Clarke fue la única
        mujer que trabajaba para desencriptar las comunicaciones secretas de la Alemania nazi. </h1>
</body>

</html>