<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margaret Hamilton</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>
    <h1 class="titulo">Margaret Hamilton</h1>
    <div class="image-container">
    <img src="/img/margaret-hamilton.jpg" alt="llevo al hombre a la luna">
    </div>
    <h1 class="descripcion">Nacida en 1936, Margaret Hamilton fue directora de la División de Ingeniería de Software del
        MIT, donde
        desarrolló desde cero el software ‘’On-board’’ para el Programa Especial Apolo que llevó al hombre a la Luna.
        "Cuando entré por primera vez, nadie sabía qué era lo que estábamos haciendo. Era como el salvaje oeste. No
        había rumbo en él. No lo enseñaron”. Esas fueron sus propias palabras
        El enfoque de Margaret Hamilton sobre diseño de Software fue pionero para su época.
        Pues los requerimientos de robustez y tolerancia eran prioritarios para la seguridad de los astronautas en sus
        viajes a nuestro satélite.
        Por tal motivo, Hamilton es considerada como una de las primeras personas en convertirse en Ingeniera de
        Confiabilidad del Sitio.</h1>

</body>

</html>