<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a DH Heroes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

</body>
<div class="contenido">
    <h1 class="titulo">Bienvenido</h1>
    <h1 class="descripcion">En este sitio encontraras informacion de las Heroinas y los Heroes Tecnologicos mas
        representativos del ambito de la
        programacion</h1>
        <div class="image-container">
        <img src="/img/heroes.jpg" alt="Heroes sin capa">
    </div>
    <ul>
        <li><a href="/babbage" class="button">Ir a la página de Babbage</a></li>
        <li><a href="/berners-lee" class="button">Ir a la página de Berners-Lee</a></li>
        <li><a href="/clarke" class="button">Ir a la página de Clarke</a></li>
        <li><a href="/hamilton" class="button">Ir a la página de Hamilton</a></li>
        <li><a href="/hopper" class="button">Ir a la página de Hopper</a></li>
        <li><a href="/lovelace" class="button">Ir a la página de Lovelace</a></li>
        <li><a href="/turing" class="button">Ir a la página de Turing</a></li>
    </ul>
</div>


</html>