<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Mathison Turing</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>
    <h1 class="titulo">Alan Turing</h1>
    <div class="image-container">
    <img src="/img/alan-turing.jpg" alt="Padre de la inteligencia artificial">
    </div>
    <h1 class="descripcion">Fue famoso por descifrar el código nazi en la Segunda Guerra Mundial y pionero en otras ramas como la biología y
        la inteligencia artificial, cuya contribución es imprescindible en el desarrollo de las tecnologías actuales. Lo
        recordamos a 108 años de su nacimiento.
        Es considerado como uno de los padres de la ciencia de la computación y precursor de la informática moderna.
        Proporcionó una formalización influyente de los conceptos de algoritmo y computación: la máquina de Turing.
        Formuló su propia versión que hoy es ampliamente aceptada como la tesis de Church-Turing (1936).
        Durante la segunda guerra mundial, trabajó en descifrar los códigos nazis, particularmente los de la máquina
        Enigma, y durante un tiempo fue el director de la sección Naval Enigma de Bletchley Park. Se ha estimado que su
        trabajo acortó la duración de esa guerra entre dos y cuatro años.Tras la guerra, diseñó uno de los primeros
        computadores electrónicos programables digitales en el Laboratorio Nacional de Física del Reino Unido y poco
        tiempo después construyó otra de las primeras máquinas en la Universidad de Mánchester.</h1>
</body>

</html>